*{
    margin: 0;
    padding:0;   
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #fdf5ef;
}

header{
    padding: 32px 0;
    text-align: center;
    display: flex;
}

header, .content{
    margin: 0 auto;
    max-width: 300px;
}

.header-logo{
    width: 64px;
    margin-right: 15px;
}

.header-logo img{
    width: 54px;
}

.header-text h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
}

.header-text h1 span{
    color: #995000;
}

h1, h3, .price{
    font-family: 'Roboto Serif', serif;
    color: #2D2C2A;    
    text-transform: UPPERCASE;
}

.header-text p{
    color: rgba(0, 0, 0, 0.7);
    font-size:14px;
    line-height: 16px;
}

ul{
    list-style: none;
    padding: 0 5px 5px;
}

ul li {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

li .details{
    max-width: 230px;
}

.details p{
    line-height:21px;
    color: rgba(0, 0, 0, 0.6);
    font-size:14px;
}

.categories{    
    margin-bottom: 24px;
    background-color: #faeadd;
    border-radius: 15px;
}
/*FED7AA FFEDD5*/

.title-categories{
    background-color: #68340e;
    padding: 8px 16px;
    text-align:center;
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 21px;
    color: #fdf5ef;
}

.details h3{
    margin-bottom: 8px;
}

.price strong, .details h3 {
    font-size: 16px;
    line-height:19px;
}

.price strong{
    text-align: right;
}